<!DOCTYPE html>
<html>
<head>
	<title>FaceBluff - Questions List</title>
	<link rel="stylesheet" type="text/css" href="stylesheet/style.css">
	
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>
<body>
	<header>
		<div id="logo">
			<img src="img/Logo.png" alt="FaceBluff-Logo">
		</div>
		<div id="menu">
			<ul>
				<li>
					<a href="/profile">Profile</a>
				</li>
				<li>
					<a href="/friends">Friends</a>
				</li>
				<li>
					<a href="/questions">Questions</a>
				</li>
				<li>
					<a href="/logout">Logout</a>
				</li>
                                 <li class="user-data">
                                    <% if(photo===1){ %>
                                    <img src="/image/<%= id %>" class="user-points">
                                    <% }else{ %>
                                    <img src="/img/NoProfile.png" class="user-points">
                                    <% } %>
                                    
                                    <%= points %> points</li>
				
			</ul>
			
		</div>
	</header>
	<main>
		<div class="title">
			<h1 class="subtittle">Questions Selected  Randomly </h1>
		</div>
		<div class="questions-list">
                    <ul>
                        <% if(list.length===0){ %>
                        <li class="note">It doesn't have questions </li>
                        <% }else{ %>
                            <% list.forEach((question)=>{ %>
                                <li> <a href="/question/<%= question.id %>">
                                        <%= question.title %> </a></li>
                            <% }); %>
                        <% } %>
			
                    </ul>
		</div>

		<div class="add-question">
			<h1 class="subtittle"> Add your questions</h1>
                        <div>
                            <form action="/newquestion" method="GET">
                                <button type="submit"> Create new question</button>
                            </form>
			</div>
		</div>
	</main>
	<footer>
		<p>Created By <strong class="darklight">Silvia Martin</strong>
			and <strong class="darklight">Irene Ventura</strong></p>
	</footer>
</body>
</html>
